/* DOWNLOAD */
a {
  color: var(--secondary-color);
}

code {
  background: #333;
  color: #fff;
  padding: 10px;
  display: block;
  font-family: monospace;
}

/* HEAD */
.download-head {
  padding: 50px 0;
}

.download-head h1 {
  color: var(--secondary-color);
  padding-bottom: 1rem;
}

/* MAIN */
.download-main {
  padding: 50px 0;
}

.download-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.download-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.download-main .card a {
  font-weight: normal;
}

.download-main h3 {
  margin: 20px 0 0;
  font-weight: bold;
}

.download-main h4 {
  margin: 0 0 20px;
  font-weight: bold;
  color: var(--secondary-color);
}

/* Selektiert alle Child-Elemente außer das 1. */
.download-main h4:not(:first-child) {
  margin: 20px 0;
  font-weight: bold;
  color: var(--secondary-color);
}

.download-main p {
  padding: 10px 0;
}

.download-main button a {
  color: var(--light-color);
}

/* TABLETS UND DARUNTER */
@media (max-width: 768px) {

  .download-main .grid {
    grid-template-columns: 1fr;
  }

}

/* MOBILE */
@media (max-width: 500px) {
  .download-head {
    padding: 2rem 0;
  }

  .download-main {
    padding: 2rem 0;
  }

  .footer ul {
    flex-direction: row;
  }
}
