/* PADDING KARTEN IN MOBILER VERSION */

/* Schriftimport */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* HOME WEBSEITE */
:root {
  --primary-color: #FFBB0D;
  --secondary-color: #2F2D2E;
  --light-color: #ecf0f1;
  --success-color: #0BD45E;
  --error-color: #C91D1D;
}

/* Default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif; 
}

body {
  line-height: 1.6;
  background-color: var(--light-color);
  /* Sieht mit max-width beim rauszoomen besser aus */
  max-width: 1500px;
  margin: 0 auto;
}

/* Generelles Elemente Styling / Superior Elements */
h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
}

h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Button Variante 1 */
button {
  color: var(--light-color);
  width: auto;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  /* transition legt einen Übergangseffekt fest.
  Hier wird festgelegt, dass der Übergang über die transform-Eigenschaft erfolgt.
  Die Dauer des Übergangs wird auf 0,5 Sekunden festgelegt.
  "ease-in-out" bedeutet einen langsamen Start und ein langsames Ende.
  0.1s am Ende definiert die Verzögerung der Animation, sobald Sie durch hover ausgelöst wird
  */
  transition: transform 0.5s ease-in-out 0.1s;
  font-size: 1.2rem;
}

/* Button Variante 2 über input-type
input[type="submit"] {
  color: var(--light-color);
  margin-top: 10px;
  width: auto;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
} */


button:hover {
  /* Der Transformations-Effekt tritt ein, sobald über ein "button"-Element gehovert wird.
  scale(0.95) wird verwendet um den Button auf 95% der Originalgröße zu reduzieren.
  */
  transform: scale(0.95);
}

/* NAVBAR */
.navigation {
  background-color: var(--secondary-color);
  height: 70px;
}

.navbar {
  background-color: var(--secondary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  color: var(--primary-color);
  border-bottom: 2px solid transparent; /* Rahmen unten ohne hover auf transparent setzen */
  transition: border-bottom 0.5s ease-in-out 0.1s; /* Rahmen unten Übergang */
}

.navbar a:hover {
  border-bottom: 2px solid var(--primary-color); /* Rahmen unten Syle Änderung bei hover */
}

.navbar .flex{
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
  justify-content: space-between;
}

.navbar i {
  display: flex;
  width: 52px;
  align-items: center;
  margin-right: -16px;
}

.logo {
  margin: 0 25px;
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  display: flex;
}

.logo-right {
  align-self: flex-end;
}

/* SHOWCASE - KONTAKTFORMULAR */
.showcase {
  /* Bei fester Höhe liegt Formular beim verkleinern zu Nah an der Überschrift im Modul darunter */
  /* height: 400px; */
  position: relative;
  background-color: var(--primary-color);
  padding: 50px 0;
}

.showcase h2, p {
  color: var(--secondary-color);
}

.showcase-form h2 {
  padding: 0 0 1rem;
}

/* Schräger Balken
.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 120px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
*/

.showcase .text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  animation: slideInFromRight 1s ease-in;
  z-index: 1;
  position: relative;
}

.showcase .grid {
  overflow: visible;
  /* grid-template-columns: 55% 45%; */
  gap: 3rem;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  margin: 20px 0;
  padding: 3px; /*Abstand zwischen border und placeholder-Text der Input Felder */
  background-color: var(--light-color);
  color: var(--secondary-color);
  /* border: 0; */
  border: none;
  border-radius: 0; /* Wichtig für Mobile Version */
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
  font-size: 1.4rem;
}

/* In vielen Browsern wird das Manipulieren der Felder durch automatisches einfügen gesperrt. Muss wenn mit JavaScript angepasst werden
input:autofill {
  color: red !important;
}

input:-webkit-autofill {
  color: red !important;
}
*/

.showcase-form input:focus {
  outline: none; /* Entfernt Rahmen beim Klicken auf Input Feld */
}

.showcase button {
  margin-top: 20px;
}

.card {
  border: none;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1; /* Positioniert Formular vor dem Hintergrund */
  background-color: var(--light-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  min-width: 122px; /* Sonst rutscht "Node" bei Mobiler Version in eine Zeile mit nachfolger  */
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--secondary-color);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  border: 0px;
  border-bottom: 1px solid var(--secondary-color);
  background-color: transparent;
}

/* REFERENCES */
.references {
  padding: 50px 0;
  background-color: var(--secondary-color);
  position: relative;  /* Macht Elemente sichtbar, sonst werden sie von der Wellenform überdeckt */
  /* Keine feste Höhe, sonst rutschen Bilder und Text beim verkleinern aus dem Container
  height: 500px; */
}

#wave-form {
  background: url(./../images/wave-black.svg);
  /* width: 100%; */
  /* height: auto; */
  background-color: var(--primary-color);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; /* Cover für Desktop, contain für Mobile */
  position: relative;
  /* border: none; */
  /* outline: none; */
  /* margin-bottom: -4px; Verhindert schmalen Rahmen zwischen Modulen */
  height: 140px; /* Macht Form sichtbar */
}

.references .grid {
  gap: 40px;
}

.references h2 {
  color: var(--primary-color);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.references h3 {
  color: var(--primary-color);
}

.references p {
  color: var(--light-color);
}

.references-content {
  animation: slideInFromBottom 1s ease-in;
}

.references-content svg {
  padding-bottom: 20px;
  color: var(--light-color);
  font-size: 4rem;
}

/* EXAMPLES */
.examples {
  background-color: var(--primary-color);
}

.examples .grid {
  padding: 50px;
}

.card-collection {
  gap: 40px;
}

.examples .card {
  /* Ausgangszustand */
  transform: translateY(0);
  height: 100%; /* Passt Höhe der Karte an Elterncontainer an */
  text-align: center;
  display: flex;
  align-items: center;
}

/*
Legt zu verändernde Eigenschaft(en) fest
.examples .card {
  transition-property: background-color;
}
Verändert die gewählte(n) Eigenschaft(en) bei einem :hover Ereignis über das Element
.examples .card:hover {
  background-color: red;
}

Die TRANSITION Eigenschaft beinhaltet die VIER 2D Transformationseigenschaften in einem Attribut:
transition-property
transition-duration
transition-timing-function
transition-delay

Die transition-Eigenschaft wird genutzt um den Übergangseffekt eines Elements zwischen 2 oder mehr Zuständen zu definieren.
Man muss dabei den Start- und Endzustand festlegen. (Hier vor dem Hover und nach dem Hover)

ease - specifies a transition effect with a slow start, then fast, then end slowly (default)
linear - specifies a transition effect with the same speed from start to end
ease-in - specifies a transition effect with a slow start
ease-out - specifies a transition effect with a slow end
ease-in-out - specifies a transition effect with a slow start and end
cubic-bezier(n,n,n,n) - lets you define your own values in a cubic-bezier function


Mit der TRANSFORM Eigenschaft lassen sich Objekte drehen, skalieren, verzerren, versetzen (rotate, scale, skew, translate)
*/

.examples .card:hover {
  /* Kurzschreibweise */
  transition: transform 0.5s ease-in-out 0.1s;
  /* Endzustand */
  transform: translateY(-15px);
  /*
  Lange Schreibweise
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
  */
}

.examples .card:not(:hover) {
  /* Kurzschreibweise */
  transition: transform 0.5s ease-out 0.1s;
  /* Endzustand */
  /*
  Lange Schreibweise
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
  */
}

/* CLI - COMMAND LINE INTERFACE*/
.cli {
  background-color: var(--secondary-color);
}

.cli h3 {
  color: var(--secondary-color);
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  padding: 50px;
}

/* first-child = "img" in diesem Fall */
.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cli .card,
.cli .img {
  transform: translateY(0);
}

.cli .card:hover,
.cli img:hover {
  transform: translateY(-15px);
  transition: transform 0.5s ease-in-out 0.1s;
}

.cli .card:not(:hover),
.cli img:not(:hover) {
  transition: transform 0.5s ease-in-out 0.1s;
}

/* COMPANY */
.company {
  background-color: var(--primary-color);
  padding: 50px 0;
}

.company h2 {
  color: var(--secondary-color);
  padding-bottom: 0;
}

.company .grid {
  grid-template-columns: 1fr;
}

/* Korrigieren */
.company img {
  width: 80%;
  margin: auto;
}

.rotieren {
  animation: rotieren 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* 360 Grad Drehung Animation */
@keyframes rotieren {
  /* Startzustand */
  from {
    transform: rotate(0deg);
  }
  /* Endzustand */
  to {
    transform: rotate(360deg);
  }
}

.company a {
  color: var(--primary-color);
}
/* CLOUD */
.cloud {
  background-color: var(--secondary-color);
  padding: 50px 0;
}

.cloud h2 {
  color: var(--primary-color);
  padding-bottom: 0;
}

.cloud p {
  color: var(--primary-color);
}

.cloud img {
  transition: 0.5s ease-in-out 0.1s;
  padding: 40px 0;
}

.cloud img:hover {
  scale: 0.95;
}

.cloud .grid {
  grid-template-columns: 1fr;
  /* gap: 40px; */
}

.cloud a {
  color: var(--secondary-color);
}

.cloud button {
  background-color: var(--primary-color);
}

/* SUPPORTED LANGUAGES */
.supported-languages {
  height: auto;
  background-color: var(--primary-color);
  padding: 50px 0;
}

.supported-languages h2 {
  color: var(--secondary-color);
}

.supported-languages p {
  font-size: 1rem;
}

.supported-languages .card {
  margin: 20px 20px;
  /* Langsame Bewegung bei :hover */
  transition: transform 0.5s ease-in-out 0.1s;
  text-align: center;
}

/* Hover Effekt */
.supported-languages .card:hover {
  transform: translateY(-15px);
}

.supported-languages .flex {
  flex-wrap: wrap;
}

.supported-languages h2 {
  text-align: center;
}

/* FOOTER */
footer {
  padding: 50px 0;
  height: auto;
  background-color: var(--secondary-color);
}

footer p {
  color: var(--primary-color);
  font-size: 1rem;
  font-style: italic;
}

footer ul {
  gap: 20px;
}

footer nav a {
  color: var(--primary-color);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease-in-out 0.1s;
  padding: 10px;
}

footer nav a:hover {
  border-bottom: 2px solid var(--primary-color); /* Ändere die untere Grenze bei Hover */
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.socials svg {
  width: 40px;
  height: 40px;
  transition: scale 0.5s ease-in-out 0.1s;
}

.socials svg:hover {
  scale: 0.95;
}

.socials a {
  color: var(--primary-color);
  width: 40px;
}

#copyright {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1rem;
}

#copyright h4 {
  font-size: 1.2rem;
}

/* UTILITIES */
/* Rahmen */
.container {
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Abstand zu Seitenrändern */
  padding: 0 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-footer {
  grid-template-columns: 1fr 1fr;
}

/* Zentrieren von Text und Elementen (Siehe reference) */
.text-center {
  text-align: center;
}

.seperator {
  height: 200px;
  background-color: red;
  border: 2px solid black;
}

/* ANIMATIONS */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.fehlermeldungText::placeholder {
  color: var(--error-color);
  font-size: 1.2rem;
}


.hinweisTextStyle p {
  color: var(--error-color);
  padding: 4px;
  line-height: 1.6rem;
}

.hinweisRahmenDreieck{
  color: var(--error-color);
  background-color: var(--light-color);
  position: relative; /* WICHTIG um dreieck relativ zu dem p-Element zu platzieren */
}

.hinweisRahmen {
  /* Muss important beinhalten, da sonst von showcase-form input[type=text] überschrieben wird, da dies spezifischer ist */
  border: 1px solid var(--error-color) !important;
}

/* Inneres Dreieck */
.hinweisRahmenDreieck::after {
  content: ''; /* Element sichtbar machen */
  position: absolute;
  left: calc(50% - 9px);
  /* Muss um border-Stärke von hinweisRahmen niedriger sein als bei :: before */
  top: -8px;
  border-top: 0px solid transparent;
  border-right: 9px solid transparent;
  /* Farbe des weißen Dreiecks - muss selbe Farbe wie hinweisRahmenDreieck background-color sein*/
  border-bottom: 9px solid var(--light-color);
  border-left: 9px solid transparent;
}

/* Äußeres Dreieck */
.hinweisRahmenDreieck::before {
  content: '';
  position: absolute;
  left: calc(50% - 9px);
  top: -9px;
  border-top: 0px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--error-color);
  border-left: 9px solid transparent;
}

/*
Meist genutzte Bildschirmauflösungen Weltweit Desktop:
  1920×1080, 1366×768, 1536×864, 1280×720, 1440×900
  Marktanteil: 44.95%
*/


/* Mobile (320px = Schmalste Bildschirmbreite iPhone 5 / Rest zwischen 375 - 414)
Meist genutzte Bildschirmauflösungen Weltweit Mobile:
	360×800, 390×844, 414×896, 375×667, 412×732
  Marktanteil: 52.81%
*/

/* MEDIA QUERIES VON ALLGEMEIN NACH SPEZIFISCHER AUFBAUEN, DA BEISPIELSWEISE DIE REGELN VON "max-width: 768px" AUCH AUF "max-width: 500px" ANGEWANDT WERDEN, DA ALLES UNTER 768 AUCH 500 BEINHALTET */

/* Tablets und darunter */
@media (max-width: 768px) {

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.44rem;
  }

  h3 {
    font-size: 1.28rem;
  }

  a {
    font-size: 0.96rem;
  }

  p {
    font-size: 0.96rem;
  }

  .showcase-form input[type='text'], .showcase-form input[type='email'] {
    font-size: 1.12rem;
  }

  button {
    font-size: 1.12rem;
  }

  .navigation h1 {
    font-size: 1.2rem;
  }

  nav a {
    font-size: 0.9rem;
  }

  /* SHOWCASE */
  .showcase .grid {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  /* REFERENZEN */
  .references-content.grid.grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  /* BEISPIELE */
  .examples .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* CLI */
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .cli .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* FOOTER */
  .grid-footer {
    grid-template-columns: 1fr;
  }

  footer nav {
    margin-bottom: 20px;
  }

  footer ul {
    gap: 20px;
  }

  .socials {
    justify-content: flex-start;
    margin-left: 10px;
  }

  #copyright h4 {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  /* UTILITIES */
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.28rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  h3 {
    font-size: 1.02rem;
  }

  a {
    font-size: 0.77rem;
  }

  p {
    font-size: 0.77rem;
  }

  .showcase-form input[type='text'], .showcase-form input[type='email'] {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.96rem;
  }

  /* NAVIGATION */
  .logo {
    margin: 0;
  }

  .navigation {
    height: 120px;
  }

  .navigation .flex {
    justify-content: space-between;
  }

  .navigation h1 {
    font-size: 1rem;
  }

  .navbar ul {
    flex-direction: column;
    padding: 10px;
  }

  .navbar ul li {
    /* padding: 1rem; */
    padding: 1vw;
  }

  /* SHOWCASE */
  .showcase-form h2 {
    padding-bottom: 0.5rem;
  }

  .showcase .grid {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  .showcase-form input[type='text'], .showcase-form input[type='email'] {
    font-size: 0.875rem;
  }

  /* SHOWCASE FEHLERMELDUNG */
  .fehlermeldungText::placeholder {
    font-size: 0.75rem;
  }

  /* REFERENZEN */
  .references-content svg {
    font-size: 2rem;
  }

  .references .grid {
    gap: 20px;
  }
    

  #wave-form {
    /* Wichtig damit ganze Form sichtbar */
    /* background-size: contain; */
    background-size: cover;
    /* Muss min. 50px, sonst wird teils abgeschnitten */
    height: 50px;
  }

  /* EXAMPLES */
  .examples .grid {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    gap: 20px;
    padding: 50px 1rem;
  }

  /* CLI */
  .cli .grid {
    grid-template-columns: 1fr;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  /* SUPPORTED LANGUAGES */
  .supported-languages .container {
    padding: 0;
  }

  .supported-languages .card {
    margin: 10px 10px;
  }

  /* FOOTER */
  footer ul {
    flex-direction: column;
    gap: 10px;
  }

  footer ul li {
    /* padding: 1rem 0; */
    padding: 1vw 0;
  }

  footer .container {
    padding: 0 20px;
  }

  .socials {
    gap: 20px;
    grid-column: 1 / 3; /* Nimmt so die ganze Breite ein von Spalte 1 - 3 (Also Spalte 1 und 2) */
  }

  .socials svg {
    width: 30px;
    height: 30px;
  }

  #copyright h4 {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.7rem;
  }
}

/* 
Kleine Bildschirme und Laptops (769px - 1024px)
Desktops und große Bildschirme (1025px - 1200px)
Extra Große Bildschirme (1201px und mehr)

Meist genutzte Bildschirmauflösungen Weltweit Tablet:
768×1024, 810×1080, 1280×800, 1024×768, 1920×1080
Marktanteil: 1.83%
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
